/* font */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap');

/*----------------- first-header-and-section-start--------------------- */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    background-color: #E5E5E5;

}

.first-div {
    width: 1035px;


    border-radius: 5px;
    background-color: #FFFFFF;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;


}

.manu-first-div {
    display: flex;
    background-color: #562EFF;
    justify-content: space-evenly;
    width: 1605px;
    height: 94px;

}


.manu-div-child1 {
    display: flex;

}

.manu-div-child1 img {
    width: 40.42px;
    height: 51px;
    padding-top: 10px;
    padding-right: 15.5px;
}

.manu-div-child1 h1 {
    padding-top: 17px;
    padding-bottom: 41px;
}

.manu-div-child2 {
    display: flex;
    padding-top: 25px;
    cursor: pointer;



}

.manu-div-child2 img {
    width: 51px;
    height: 51px;
    padding-left: 45px;
}

.manu-div-child2 P {
    padding-left: 45px;
    font-weight: bold;

}

.top1 {
    padding: 35px;
    margin-bottom: opx;
    color: #562EFF;
}

.child {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.child-player {
    display: flex;
    align-items: center;
    font-size: 18px;

}

hr {
    width: 900px;
    padding-left: 20px;
    padding-right: 20px;
    border: 1px solid #D1D1D1;


}



.child-player img {
    width: 56px;
    height: 56px;
    padding: 30px;
}




.Child-div2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.Child-div2 img {
    width: 197px;
    height: 177px;
}

.blogs {
    display: flex;
    align-items: center;
    padding-top: -30px;

}

.ancor {
    color: gray;
}

.ancor a {
    text-decoration: none;
}

.top-blogs {
    padding: 30px;
    padding-top: -15px;
}

/*------------------ first-section -and-headar-end -------------------- */
.sceond-section-class {
    width: 1070px;
    background-color: #FFFFFF;
    border-radius: 5px;
    margin-top: 21px;

}

.div-lates-course {
    display: flex;
    justify-content: space-evenly;
}

.course-text p {
    color: #ED6B4F;

}

.lates-course img {
    width: 224px;
    height: 104px;
}

.lates-course {
    width: 290.42px;
    height: 269.79px;
    filter: box-shadow(0px 5px 13px rgba(0, 0, 0, 0.05));
    padding-bottom: 24px
}



.course-info {
    display: flex;
    align-items: center;
}

.course-info p {
    color: #A2A2A2;
    padding: 10px;
    padding-right: 30px;
}

.fa-star.filled {
    color: #FFC014;
}

.fa-star.empty {
    color: #AEAEAE;
}

.time {
    background-color: #FFE4E8;
    color: #FF4A60;
    width: 94.83px;
    height: 29.38px;
    border-radius: 14.69px;
    padding-top: 8px;
    padding-left: 8px;


}